<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/a5a1076c64.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/shared.css" />
    <link rel="stylesheet" href="css/index.css" />
    <script src="js/script.js" defer></script>
    <title>Twitter</title>
  </head>
  <body>
    <!-- Sidebar -->
    <aside id="side-menu">
      <div class="side-top">
        <div class="top">
          <h2>Account info</h2>
          <i
            id="close-menu"
            class="fa-solid fa-xmark"
            onclick="hideSideMenu()"
          ></i>
        </div>
        <div class="user-info">
          <img src="public/images/profile.jpg" alt="" />
          <h3>Mojtaba</h3>
          <h4>@moji</h4>
        </div>
        <div class="row">
          <h3>329 <span>Following</span></h3>
          <h3>329 <span>Followers</span></h3>
        </div>
        <a href="./profile.html"><i class="fa-solid fa-user"></i>Profile</a>
        <a href=""><i class="fa-solid fa-rectangle-list"></i>List</a>
        <a href=""><i class="fa-solid fa-sliders"></i>Setting</a>
        <a href=""><i class="fa-solid fa-sun"></i>Disply</a>
      </div>
      <div class="side-bottom">
        <a href="">Logout</a>
      </div>
    </aside>
    <!-- Sidebar -->

    <!-- New Twitt Modal -->

    <div id="new-twitt-modal" class="new-twitt-modal">
      <div class="new-twitt-modal_row">
        <a onclick="hideNewTwitModal()"
          ><i class="fa-solid fa-arrow-left"></i
        ></a>
        <button>Tweet</button>
      </div>
      <div class="text-area">
        <textarea
          name=""
          id=""
          cols="30"
          rows="10"
          placeholder="Share what's hapening..."
        ></textarea>
        <div class="new-twitt-modal_row right">
          <a href="./index.html"
            >Attach a photo<i class="fa-solid fa-paperclip"></i
          ></a>
        </div>
        <div class="new-twitt__photo">
          <img
            src="./public/uploads/Young_Female_Athlete_High_Jump_08ed57536bc06d2122db14f612cc2f13.jpeg"
            alt=""
          />
        </div>
        <div class="new-twitt-modal_row right">
          <a href="./index.html"
            >Remove the photo<i class="fa-solid fa-xmark"></i
          ></a>
        </div>
      </div>
    </div>
    <!-- New Twitt Modal -->

    <div class="container" id="all">
      <!-- Header -->
      <section class="header">
        <div class="header-left">
          <img
            src="public/images/profile.jpg"
            alt="profile picture"
            onclick="showSideMenu()"
          />
          <h1>Home</h1>
        </div>
        <div class="header-right">
          <i class="fa-solid fa-bahai"> </i>
        </div>
      </section>
      <!-- Header -->

      <!-- Body -->
      <section class="body">
        <!-- Twitt -->
        <div class="twitt">
          <img class="user-photo" src="public/images/My Photo.jpg" alt="" />
          <div class="card">
            <div class="card-username">
              <div class="card-username__left">
                <h3>Mojtaba</h3>
                <h4>@moji</h4>
                <h4>.</h4>
                <h4>21m</h4>
              </div>
              <div class="card-username__right">
                <i class="fa-solid fa-ellipsis"></i>
              </div>
            </div>
            <div class="card-twitt">
              <img
                class="twitt-photo"
                src="public/uploads/Young_Female_Athlete_High_Jump_08ed57536bc06d2122db14f612cc2f13.jpeg"
                alt=""
              />
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex
                consequuntur officiis odio repellendus officia numquam provident
                nulla reiciendis reprehenderit explicabo voluptate eligendi
                ipsum magnam hic vel temporibus mollitia animi fugiat quidem,
                error consectetur dicta obcaecati. Dolor excepturi assumenda
                consectetur temporibus.
              </p>
            </div>
            <div class="card-icons">
              <span
                ><i class="fa-solid fa-comment"></i>
                <h4>2</h4></span
              >
              <span
                ><i class="fa-solid fa-retweet"></i>
                <h4>2</h4></span
              >
              <span
                ><i class="fa-solid fa-heart"></i>
                <h4>3</h4></span
              >
              <span
                ><i class="fa-solid fa-share"></i>
                <h4>7</h4></span
              >
            </div>
          </div>
        </div>
        <!-- Twitt -->
        <!-- Twitt -->
        <div class="twitt">
          <img class="user-photo" src="public/images/My Photo.jpg" alt="" />
          <div class="card">
            <div class="card-username">
              <div class="card-username__left">
                <h3>Mojtaba</h3>
                <h4>@moji</h4>
                <h4>.</h4>
                <h4>21m</h4>
              </div>
              <div class="card-username__right">
                <i class="fa-solid fa-ellipsis"></i>
              </div>
            </div>
            <div class="card-twitt">
              <img
                class="twitt-photo"
                src="public/uploads/Young_Female_Athlete_High_Jump_08ed57536bc06d2122db14f612cc2f13.jpeg"
                alt=""
              />
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex
                consequuntur officiis odio repellendus officia numquam provident
                nulla reiciendis reprehenderit explicabo voluptate eligendi
                ipsum magnam hic vel temporibus mollitia animi fugiat quidem,
                error consectetur dicta obcaecati. Dolor excepturi assumenda
                consectetur temporibus.
              </p>
            </div>
            <div class="card-icons">
              <span
                ><i class="fa-solid fa-comment"></i>
                <h4>2</h4></span
              >
              <span
                ><i class="fa-solid fa-retweet"></i>
                <h4>2</h4></span
              >
              <span
                ><i class="fa-solid fa-heart"></i>
                <h4>3</h4></span
              >
              <span
                ><i class="fa-solid fa-share"></i>
                <h4>7</h4></span
              >
            </div>
          </div>
        </div>
        <!-- Twitt -->
        <!-- Twitt -->
        <div class="twitt">
          <img class="user-photo" src="public/images/My Photo.jpg" alt="" />
          <div class="card">
            <div class="card-username">
              <div class="card-username__left">
                <h3>Mojtaba</h3>
                <h4>@moji</h4>
                <h4>.</h4>
                <h4>21m</h4>
              </div>
              <div class="card-username__right">
                <i class="fa-solid fa-ellipsis"></i>
              </div>
            </div>
            <div class="card-twitt">
              <img
                class="twitt-photo"
                src="public/uploads/Young_Female_Athlete_High_Jump_08ed57536bc06d2122db14f612cc2f13.jpeg"
                alt=""
              />
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex
                consequuntur officiis odio repellendus officia numquam provident
                nulla reiciendis reprehenderit explicabo voluptate eligendi
                ipsum magnam hic vel temporibus mollitia animi fugiat quidem,
                error consectetur dicta obcaecati. Dolor excepturi assumenda
                consectetur temporibus.
              </p>
            </div>
            <div class="card-icons">
              <span
                ><i class="fa-solid fa-comment"></i>
                <h4>2</h4></span
              >
              <span
                ><i class="fa-solid fa-retweet"></i>
                <h4>2</h4></span
              >
              <span
                ><i class="fa-solid fa-heart"></i>
                <h4>3</h4></span
              >
              <span
                ><i class="fa-solid fa-share"></i>
                <h4>7</h4></span
              >
            </div>
          </div>
        </div>
        <!-- Twitt -->
        <div onclick="showNewTwitModal()" class="new-twit">
          <i class="fa-solid fa-plus"></i>
        </div>
      </section>
      <!-- Body -->

      <!-- Footer -->
      <section class="footer">
        <div class="footer-icons">
          <i class="fa-solid fa-house active"></i>
          <i class="fa-solid fa-magnifying-glass"></i>
          <i class="fa-solid fa-bell"></i>
          <i class="fa-solid fa-envelope"></i>
        </div>
      </section>
      <!-- Footer -->
    </div>
  </body>
</html>
