<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/a5a1076c64.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/shared.css" />
    <link rel="stylesheet" href="css/profile.css" />
    <script src="/js/script.js" defer></script>
    <title>Twitter</title>
  </head>
  <body>
    <!-- Sidebar -->
    <aside id="side-menu">
      <div class="side-top">
        <div class="top">
          <h2>Account info</h2>
          <i class="fa-solid fa-xmark" onclick="hideSideMenu()"></i>
        </div>
        <div class="user-info">
          <img src="/public/images/profile.jpg" alt="" />
          <h3>Mojtaba</h3>
          <h4>@moji</h4>
        </div>
        <div class="row">
          <h3>329 <span>Following</span></h3>
          <h3>329 <span>Followers</span></h3>
        </div>
        <a href=""><i class="fa-solid fa-user"></i>Profile</a>
        <a href=""><i class="fa-solid fa-rectangle-list"></i>List</a>
        <a href=""><i class="fa-solid fa-sliders"></i>Setting</a>
        <a href=""><i class="fa-solid fa-sun"></i>Disply</a>
      </div>
      <div class="side-bottom">
        <a href="">Logout</a>
      </div>
    </aside>
    <!-- Sidebar -->

    <div class="container" id="all">
      <!-- Header -->
      <section class="header">
        <div class="header-left">
          <i class="fa-solid fa-arrow-left"></i>
          <h1>Mojtaba</h1>
        </div>
      </section>
      <!-- Header -->

      <!-- Body -->
      <section class="body__profile">
        <div class="cover-photo">
          <img class="cover" src="/public/images/header.jpeg" alt="" />
          <img class="profile" src="/public/images/profile.jpg" alt="" />
        </div>

        <div class="edit-profile">
          <a href="">Edit profile</a>
        </div>

        <div class="user-info__profile">
          <h1>Mojtaba</h1>
          <h2>@moji</h2>
          <span
            ><i class="fa-solid fa-calendar-days"></i>
            <h2>Joined December 2020</h2></span
          >
          <div class="row">
            <h3>329 <span>Following</span></h3>
            <h3>329 <span>Followers</span></h3>
          </div>
        </div>
      </section>

      <!-- Body -->

      <div class="tweet">
        <h1>Tweets</h1>
        <h1>Tweets</h1>
        <h1>Tweets</h1>
        <h1>Tweets</h1>
        <h1>Tweets</h1>
        <h1>Tweets</h1>
        <h1>Tweets</h1>
        <h1>Tweets</h1>
        <h1>Tweets</h1>
        <h1>Tweets</h1>
        <h1>Tweets</h1>
        <h1>Tweets</h1>
        <h1>Tweets</h1>
        <h1>Tweets</h1>
        <h1>Tweets</h1>
        <h1>Tweets</h1>
        <h1>Tweets</h1>
        <h1>Tweets</h1>
        <h1>Tweets</h1>
        <h1>Tweets</h1>
        <h1>Tweets</h1>
        <h1>Tweets</h1>
        <h1>Tweets</h1>
        <h1>Tweets</h1>
        <h1>Tweets</h1>
        <h1>Tweets</h1>
        <h1>Tweets</h1>
        <h1>Tweets</h1>
        <h1>Tweets</h1>
        <h1>Tweets</h1>
        <h1>Tweets</h1>
        <h1>Tweets</h1>
        <h1>Tweets</h1>
        <h1>Tweets</h1>
        <h1>Tweets</h1>
        <h1>Tweets</h1>
        <h1>Tweets</h1>
        <h1>Tweets</h1>
        <h1>Tweets</h1>
        <h1>Tweets</h1>
        <h1>Tweets</h1>
        <h1>Tweets</h1>
        <h1>Tweets</h1>
        <h1>Tweets</h1>
      </div>

      <!-- Footer -->
      <section class="footer">
        <div class="footer-icons">
          <i class="fa-solid fa-house active"></i>
          <i class="fa-solid fa-magnifying-glass"></i>
          <i class="fa-solid fa-bell"></i>
          <i class="fa-solid fa-envelope"></i>
        </div>
      </section>
      <!-- Footer -->
    </div>
  </body>
</html>
