@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --color-primary: rgb(23, 32, 42);
  --color-primary-dim: rgb(26, 38, 52);
  --color-text-primary: rgb(247, 249, 249);
  --color-text-secondray: rgb(72, 155, 233);
  --color-text-gray: rgb(140, 152, 164);
  --color-border: rgb(40, 50, 59);
  --font-main: 'Lato', sans-serif;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 250px;
  background-color: var(--color-primary);
  position: fixed;
  top: 0;
  left: -250px;
  z-index: 10;
  padding: 16px;
  row-gap: 16px;
  font-family: var(--font-main);
  transition: 0.2s linear;
  border-right: 1px solid var(--color-border);
}

aside .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

aside .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  padding-bottom: 16px;
}

aside img {
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin: 32px;
}

aside a {
  padding: 16px 0;
}

aside i {
  margin-right: 16px;
}

aside .user-info h4 {
  padding-bottom: 8px;
  color: var(--color-text-gray);
}

#close-menu {
  cursor: pointer;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: var(--color-primary);
  filter: none;
  transition: 0.2s;
}

.header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 53px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-border);
}

.header img {
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  margin: 16px;
}

.header-left,
.header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-right i {
  margin: 16px;
}

.body {
  margin-top: 55px;
  overflow-x: auto;
  height: calc(100% - 105px);
}

a {
  text-decoration: none;
  color: var(--color-text-primary);
  display: block;
  cursor: pointer;
}

h1 {
  font-family: var(--font-main);
  font-size: 18px;
  color: var(--color-text-primary);
}

h2 {
  font-family: var(--font-main);
  font-size: 16px;
  color: var(--color-text-primary);
}

h3 {
  font-family: var(--font-main);
  font-size: 14px;
  color: var(--color-text-primary);
}

h4 {
  font-family: var(--font-main);
  font-size: 12px;
  color: var(--color-text-primary);
}

h5 {
  font-family: var(--font-main);
  font-size: 10px;
  color: var(--color-text-primary);
}

p {
  font-family: var(--font-main);
  font-size: 16px;
  color: var(--color-text-primary);
}

i {
  color: var(--color-text-primary);
}

.footer {
  width: 100%;
  height: 53px;
  position: fixed;
  bottom: 0;
  background-color: var(--color-primary);
  border-top: 1px solid var(--color-border);
}

.footer-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  justify-content: space-around;
  max-width: 500px;
}

.footer i {
  margin: 16px;
  font-size: 20px;
  color: var(--color-text-gray);
}

.footer i.active {
  color: var(--color-text-primary);
}

span {
  color: var(--color-text-gray);
  font: var(--font-main);
}

@media (min-width: 1000px) {
  aside {
    position: fixed;
    top: 0 !important;
    left: 0 !important;
    width: 200px;
  }
  aside .top {
    display: none;
  }
  .container {
    filter: none !important;
  }
}

@media (min-width: 1150px) {
  aside {
    position: fixed;
    top: 0 !important;
    left: 0 !important;
    width: 280px;
  }
  aside .top {
    display: none;
  }
  .container {
    filter: none !important;
  }
}
